# Configuration de l'application
SECRET_KEY=votre-cle-secrete-ultra-complexe-a-changer
DATABASE_PATH=./data/tubersys.db
FLASK_ENV=development

# Pour partager la base de données entre plusieurs PC
# Décommentez et modifiez cette ligne pour utiliser un dossier partagé
# DATABASE_PATH=Z:/TuberSYS/data/tubersys.db  # Windows
# DATABASE_PATH=/mnt/shared/TuberSYS/data/tubersys.db  # Linux
